<div style="text-align: center;">
  <button mat-raised-button matTooltip="This is a tooltip!" aria-label="Button that displays a tooltip">
    Hover over me
  </button>

  <button mat-raised-button matTooltip="Another tooltip!" aria-label="Button with another tooltip" style="margin-left: 20px;">
    Hover over me too
  </button>

  <button mat-raised-button matTooltip="I have a long tooltip text that might need wrapping" aria-label="Button with long tooltip" style="margin-left: 20px;">
    Hover over me as well
  </button>
</div>
