<h2>Input Example</h2>

<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput placeholder="Enter your name">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Number Input</mat-label>
  <input matInput type="number" placeholder="Enter a number">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Password Input</mat-label>
  <input matInput type="password" placeholder="Enter your password">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput placeholder="Enter a message"></textarea>
</mat-form-field>
