<div class="home-demo">
  <h2>Angular Material Components</h2>
  <ul>
    <li><a routerLink="/autocomplete">Autocomplete</a></li>
    <li><a routerLink="/badge">Badge</a></li>
    <li><a routerLink="/bottom-sheet">Bottom Sheet</a></li>
    <li><a routerLink="/button">Button</a></li>
    <li><a routerLink="/button-toggle">Button Toggle</a></li>
    <li><a routerLink="/card">Card</a></li>
    <li><a routerLink="/checkbox">Checkbox</a></li>
    <li><a routerLink="/chips">Chips</a></li>
    <li><a routerLink="/core">Core</a></li>
    <li><a routerLink="/datepicker">Datepicker</a></li>
    <li><a routerLink="/dialog">Dialog</a></li>
    <li><a routerLink="/divider">Divider</a></li>
    <li><a routerLink="/expansion-panel">Expansion Panel</a></li>
    <li><a routerLink="/form-field">Form Field</a></li>
    <li><a routerLink="/grid-list">Grid List</a></li>
    <li><a routerLink="/icon">Icon</a></li>
    <li><a routerLink="/input">Input</a></li>
    <li><a routerLink="/list">List</a></li>
    <!-- Add more links here as you create additional components -->
  </ul>
</div>
